body{
  background-color: green;
  color: red;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin: 10% 20%;
}

.name{
  color: blue;
  text-transform: uppercase;
  font-size: 30px;
}

img{
  width: 200px;
}

.phone-number{
  font-size: 24px;
  font-family: Lucida Console, Monaco, monospace;
}

.h2{
  font-size: 24px;
  font-family: Times New Roman, Garamond, serif;
}

.profile{
  font-size: 20px;
}

.objective{
  font-size: 20px;
}

.skills-header{
  font-size: 20px;
  font-family: Brush Script MT, Lucida Handwriting, cursive;
  text-transform: uppercase;
  border-top: 1px solid #dddddd;
  
}

.skills-list{
  font-size: 16px;
  border-bottom: 1px solid #dddddd;
}

.education-header{
  font-size: 20px;
  font-family: Brush Script MT, Lucida Handwriting, cursive;
  text-transform: uppercase;
  border-top: 1px solid #dddddd;
}

.education-list{
  font-size: 16px;
  border-bottom: 1px solid #dddddd;
}

.work-header{
  font-size: 20px;
  font-family: Brush Script MT, Lucida Handwriting, cursive;
  text-transform: uppercase;
  border-top: 1px solid #dddddd;
}

.work-list{
  font-size: 16px;
  border-bottom: 1px solid #dddddd;
}
